<!--<div class="nav_bar">-->

<!--    <a href="/home">Home</a>-->

<!--    <div class="dropdown">-->

<!--        <button class="dropbtn">-->

<!--            Release Prices-->

<!--            <i class="fa fa-caret-down"></i>-->

<!--        </button>-->

<!--        <div class="dropdown-content">-->

<!--            <a href="#">Link 1</a>-->

<!--            <a href="#">Link 2</a>-->

<!--            <a href="#">Link 3</a>-->

<!--        </div>-->

<!--    </div>-->

<!--    <a href="/release_prices">Release Prices</a>-->

<!--    <a href="/units_sold">Units Sold</a>-->

<!--    <a href="/fun_facts">Fun Facts</a>-->

<!--</div>-->



<!--<div class="navbar">-->
<!--  <a href="#home">Home</a>-->
<!--  <a href="#news">News</a>-->
<!--  <div class="dropdown">-->
<!--    <button class="dropbtn">Dropdown-->
<!--      <i class="fa fa-caret-down"></i>-->
<!--    </button>-->
<!--    <div class="dropdown-content">-->
<!--      <a href="#">Link 1</a>-->
<!--      <a href="#">Link 2</a>-->
<!--      <a href="#">Link 3</a>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!--<ul>-->
<!--  <li><a href="#home">Home</a></li>-->
<!--  <li><a href="#news">News</a></li>-->
<!--  <li class="dropdown">-->
<!--    <a href="javascript:void(0)" class="dropbtn">Dropdown</a>-->
<!--    <div class="dropdown-content">-->
<!--      <a href="#">Link 1</a>-->
<!--      <a href="#">Link 2</a>-->
<!--      <a href="#">Link 3</a>-->
<!--    </div>-->
<!--  </li>-->
<!--</ul>-->

<!--<div class="navbar">-->
<!--    <a href="javascript:void(0)">Home</a>-->
<!--    <a href="javascript:void(0)">News</a>-->
<!--    <a href="javascript:void(0)">Contact</a>-->
<!--    <div class="dropdown">-->
<!--        <button class="dropbtn">Dropdown-->
<!--            <i class="fa fa-caret-down"></i>-->
<!--        </button>-->

<!--        <div class="dropdown-content">-->
<!--            <a href="#">Link 1</a>-->
<!--            <a href="#">Link 2</a>-->
<!--            <a href="#">Link 3</a>-->
<!--        </div>-->

<!--    </div>-->

<!--</div>-->



<!--<ul id="menu">-->
<!--  <li><a href="">Home</a></li>-->
<!--  <li><a href="">About Us</a>-->
<!--    <ul>-->
<!--    <li><a href="">The Team</a></li>-->
<!--    <li><a href="">History</a></li>-->
<!--    <li><a href="">Vision</a></li>-->
<!--    </ul>-->
<!--  </li>-->
<!--  <li><a href="">Products</a>-->
<!--    <ul>-->
<!--    <li><a href="">Cozy Couch</a></li>-->
<!--    <li><a href="">Great Table</a></li>-->
<!--    <li><a href="">Small Chair</a></li>-->
<!--    <li><a href="">Shiny Shelf</a></li>-->
<!--    <li><a href="">Invisible Nothing</a></li>-->
<!--    </ul>-->
<!--  </li>-->
<!--  <li><a href="">Contact</a>-->
<!--    <ul>-->
<!--    <li><a href="">Online</a></li>-->
<!--    <li><a href="">Right Here</a></li>-->
<!--    <li><a href="">Somewhere Else</a></li>-->
<!--    </ul>-->
<!--  </li>-->
<!--</ul>-->



<!--<nav role="navigation">-->
<!--  <ul>-->
<!--    <li><a href="#">One</a></li>-->
<!--    <li><a href="#">Two</a>-->
<!--      <ul class="dropdown">-->
<!--        <li><a href="#">Sub-1</a></li>-->
<!--        <li><a href="#">Sub-2</a></li>-->
<!--        <li><a href="#">Sub-3</a></li>-->
<!--      </ul>-->
<!--    </li>-->
<!--    <li><a href="#">Three</a></li>-->
<!--  </ul>-->
<!--</nav>-->


<!--<nav class="navbar navbar-expand-sm fixed-top navbar-custom">-->
<!--<nav class="navbar navbar-expand-sm navbar-custom">-->
    <!--<a href="#" class="navbar-brand">Brand</a>-->
<!--    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">-->
<!--        <span class="navbar-toggler-icon"></span>-->
<!--    </button>-->

<!--        <div class="collapse navbar-collapse" id="navbarCollapse">-->
<!--            <div class="navbar-nav">-->
<!--                <a href="#" class="nav-item nav-link">Home</a>-->
<!--                <div class="nav-item dropdown">-->
<!--                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Release Prices</a>-->
<!--                    <div class="dropdown-menu">-->
<!--                        <a href="#" class="dropdown-item">Microsoft</a>-->
<!--                        <a href="#" class="dropdown-item">Nintendo</a>-->
<!--                        <a href="#" class="dropdown-item">Sega</a>-->
<!--                        <a href="#" class="dropdown-item">Sony</a>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="nav-item dropdown">-->
<!--                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Units Sold</a>-->
<!--                    <div class="dropdown-menu">-->
<!--                        <a href="#" class="dropdown-item">Microsoft</a>-->
<!--                        <a href="#" class="dropdown-item">Nintendo</a>-->
<!--                        <a href="#" class="dropdown-item">Sega</a>-->
<!--                        <a href="#" class="dropdown-item">Sony</a>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <a href="#" class="nav-item nav-link">Fun Facts</a>-->
<!--            </div>-->
<!--        </div>-->

<!--    </nav>-->



