<!--nintendo.html for homepage 2020-->

{% extends "layout.html" %}

{% block title %}
    Nintendo
{% endblock %}

{% block main %}

    {% if mobile == True %}

        <div class="navbar">
          <a href="microsoft">Microsoft</a>
          <a href="nintendo">Nintendo</a>
          <a href="sega">Sega</a>
          <a href="sony">Sony</a>
        </div>

        <!-- Top Navigation Menu -->
        <div class="topnav">
            <a href="#home" class="active_nav">Home</a>
            <!--Navigation links (hidden by default)-->
            <div id="myLinks">
                <a href="#news">Nintendo</a>
                <a href="#contact">Sega</a>
                <a href="#about">Sony</a>
                <a href="#about">Microsoft</a>
            </div>
            <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                <i class="fa fa-bars"></i>
            </a>
        </div>

<br>
<br>

        <div class="outermost_container">

            <h1 class="nintendo_mobile">Nintendo's Consoles</h1>

            <div class="inflation_container">

                <form action="/nintendo" method="post">
                    <div class="inflation_header">Adjust Console Prices for Inflation</div>
                    <!--Row 1-->
                        <!--Column 1-->
                        <div class="years_and_months">Select a Year:</div>
                        <!--Column 2-->
                        <div class="drop_down">
                            <select name="year" id="year">
                                <option value="" diabled selected hidden></option>
                                {% for item in years %}
                                <option value="{{ item }}">{{ item }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    <!--Row 2-->
                        <!--Column 1-->
                        <div class="years_and_months">Select a Month:</div>
                        <!--Column 2-->
                        <div class="drop_down">
                            <select name="month" id="month">
                                <option value="" diabled selected hidden></option>
                                {% for item in months %}
                                <option value="{{ months[item] }}">{{ item }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    <!--Row 3-->
                        <div class="submit_mobile">
                            <!--<button style="nintendo" type="submit"><img src="/static/retro_mario_icon_24_pixel.png">Submit</button>-->
                            <button type="submit"><img src="https://icons.iconarchive.com/icons/ph03nyx/super-mario/48/Retro-Mario-icon.png">Submit</button>
                        </div>

                </form>

            </div>

            <!--<br>-->

            {% for item in console_info %}

            <!--<button class="collapsible_inflation"><span class="nintendo_console_font"><div class="cardinal_number">{{ item.cardinal_number }}.</div> <div class="console_name">{{ item.console_name }}</div></span></button>-->
            <button class="collapsible"><span class="nintendo_console_font"><div class="cardinal_number">{{ item.cardinal_number }}.</div> <div class="console_name">{{ item.console_name }}</div></span></button>
            <div class="content">

                {% if item.console_name == "Nintendo Entertainment System" %}

                    <div class="nintendo_background_image">

                {% elif item.console_name == "Super Nintendo Entertainment System" %}

                    <div class="super_nintendo_background_image">

                {% elif item.console_name == "Nintendo 64" %}

                    <div class="nintend_64_background_image">

                {% elif item.console_name == "GameCube" %}

                    <div class="gamecube_background_image">

                {% elif item.console_name == "Wii" %}

                    <div class="wii_background_image">

                {% elif item.console_name == "Wii U" %}

                    <div class="wii_u_background_image">

                {% elif item.console_name == "Switch" %}

                    <div class="switch_background_image">

                {% else %}

                <div>

                {% endif %}

                    <ul class="console_list_items">
                        <li>Release Date: {{ item.usa_release_date }}</li>
                        <li>Release Price: {{ item.formatted_release_price }}</li>

                        {% if arrival_method == "POST" %}
                            <li>Release Price in {{ inflation_month_short  }} {{ inflation_year }} Dollars: {{ item.inflation_answer }}</li>
                        {% endif %}

                        <li>Gaming Generation: {{ item.gaming_generation }}</li>
                    </ul>
                </div>
            </div>

            {% endfor %}

            {% include "footnotes.html" %}

        </div>

    {% elif mobile == False %}

        <div class="level_0_container">
            <!--Left Column-->
            <div class="level_1_container">
                <h1 class="page_heading {{ console_company }}">{{ console_info[0]["company"] }}'s Consoles</h1>

                <div class="sub_container">

                    <!--<table class="js-sort-table consoles zebra_banding nintendo sortable">-->
                    <table class="console_table nintendo js-sort-table console_table">
                        <tr>
                            <th>#</th>
                            <th>Console Name</th>
                            <th class="js-sort-date">Release Date<a href="#footnote_1">[1]</a></th>
                            <th>Release<br>Price<a href="#footnote_2">[2]</a></th>

                            {% if arrival_method == "GET" %}

                                <th>Gaming<br>Generation<a href="#footnote_3">[3]</a></th>

                            {% elif arrival_method == "POST" %}

                                <th>Release Price in<br> {{ inflation_month_short  }} {{ inflation_year }} Dollars<a href="#footnote_3">[3]</a></th>
                                <th>Gaming<br>Generation<a href="#footnote_4">[4]</a></th>

                            {% endif %}


                            <th>Company</th>
                        </tr>

                        {% for item in console_info %}

                            <tr>
                                <td style="text-align: center">{{ item.cardinal_number }}</td>
                                <td>{{ item.console_name }}</td>
                                <td style="text-align: right">{{ item.usa_release_date }}</td>
                                <td class="money" style="text-align: center">{{ item.formatted_release_price }}</td>

                                {% if arrival_method == "POST" %}

                                    <td class="money" style="text-align: center">{{ item.inflation_answer }}</td>

                                {% endif %}

                                <td style="text-align: center">{{ item.gaming_generation }}</td>
                                <td style="text-align: center">{{ item.company }}</td>
                            </tr>

                        {% endfor %}

                    </table>

                    <br>

                    <div class="center">
                        <!--Include footnotes page-->
                        {% include "footnotes.html" %}
                    </div>

                </div>

            </div>

            <!--Right Column-->
            <div class="inflation_container">

                <div class="inflation_header">Adjust the Release Prices for Inflation</div>

                <form action="/nintendo" method="post">
                    <div class="inflation_row">
                        <div class="inflation_column right">Select a Year:&nbsp;</div>
                        <div class="inflation_column left">
                            <select name="year" id="year">
                                <option value="" diabled selected hidden></option>
                                {% for item in years %}
                                    <option value="{{ item }}">{{ item }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="inflation_row">
                        <div class="inflation_column right">Select a Month:&nbsp;</div>
                        <div class="inflation_column left">
                            <select name="month" id="month">
                                <option value="" diabled selected hidden></option>
                                {% for item in months %}
                                    <option value="{{ months[item] }}">{{ item }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <button class="nintendo_submit" type="submit"><img src="https://icons.iconarchive.com/icons/ph03nyx/super-mario/48/Retro-Mario-icon.png"> Submit</button>
                </form>
            </div>
        </div>

     {% endif %}

{% endblock %}
