/*styles.css for cs50 2020's homepage assignment*/

/*https://nostalgic-css.github.io/NES.css/*/

nav .navbar-brand
{
    /* size for brand */
    font-size: xx-large;
}

/* colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}

main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

main
{
    /* scroll horizontally as needed */
    overflow-x: auto;

    /* center contents */
    text-align: center;
}

main img
{
    /* constrain images on small screens */
    max-width: 100%;
}

.footnote_items ol
{
    padding-left: 0;
}

ol
{
    padding-left: 20px;
}

.olno-space {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 1em;
}

/*.inflation_table table tr td*/
/*{*/
/*    border: 3px solid orange;*/
/*}*/

table.center_column td
{
    text-align: right;
}


.center_table {
    margin-left: auto;
    margin-right: auto;
}

/*.console_table table*/
/*{*/
/*    margin-left: auto;*/
/*    margin-right: auto;*/
/*    border: 10px solid black;*/
/*}*/

/*table.console*/
/*{*/
/*    margin-left: auto;*/
/*    margin-right: auto;*/
/*    border: 3px solid black;*/
/*}*/

/*.console th, td*/
/*{*/
/*    margin-left: auto;*/
/*    margin-right: auto;*/
/*    border: 3px solid orange;*/
/*}*/

/*table.consoles, .consoles th, .consoles td*/
/*{*/
/*    margin-left: auto;*/
/*    margin-right: auto;*/
/*    border: 3px solid black;*/
/*    padding: 5px;*/
/*}*/

table.consoles
{
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    padding: 50px;
}

table.consoles th
{
    /*background-color: rgb(232, 247, 255);*/
    border: 2px solid black;
    padding: 5px;
}

table.consoles td
{
    /*background-color: rgb(232, 247, 255);*/
    border: 2px solid black;
    padding: 5px;
}

.zebra_banding tr:nth-child(even)
{
    background-color: white;
}

.zebra_banding tr:nth-child(odd)
{
    background-color: #e6e6e6;
}


/*table.inflation, .inflation th .inflation td*/
/*{*/
/*    margin-left: auto;*/
/*    margin-right: auto;*/
    /*border: 3px solid black;*/
/*}*/

table.inflation
{
    margin-left: auto;
    margin-right: auto;
    border-collapse:collapse;
    border:none;
    /*border: 3px solid black;*/
}

table.inflation


/*table.inflation, .inflation th .inflation td*/
/*{*/
/*    margin-left: auto;*/
/*    margin-right: auto;*/
/*    border: 3px solid black;*/
/*}*/

table.console
{
    border-collapse:collapse;
}

/*.console_table*/
/*{*/
/*    margin-left: auto;*/
/*    margin-right: auto;*/
/*    border: 3px solid black;*/
/*}*/

/*.console_table table, th, td*/
/*{*/
/*    border: 10px solid black;*/
/*}*/

.table_border {
    border: 1px solid;
}

.cell_bottom_border {
    border-bottom: 1px solid black;
}

.total_purchase_price {
    text-align: center;
    padding: 1px
}

.hr_division_line {
    background-color: black;
    height: 1px;
    margin-top: 1px;
    margin-bottom: 1px;
}

.no_padding {
    padding: 1px;
}

#total_purchase_price table {
    border: 10px solid orange;
}

.total_purchase_price table, td {
    border-collapse: collapse;
    border: 0px solid orange;
    border-spacing: 0px;
    padding: 1px;
}

.bottom_border {
    border-bottom: 2px solid black;
}

.bought_table {
    border: 2px solid black;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border-spacing: 10px;
}

.bought_table td {
    padding: 2px;
    border-collapse: separate;
    border-spacing: 10px;
    /*border-spacing: 50px;*/
}

#center_and_bold
{
    text-align: center;
    font-weight: bold;
}

#cellpadding
{
    padding: 25px;
}

.cellpadding
{
    padding: 5px;
}

.table_banded_hover table
{
    margin-left: auto;
    margin-right: auto;
    border: 10px solid black;
}

.table_banded_hover td
{
    padding: 0px /* top */
             5px /* right */
             0px  /* bottom */
             5px; /* left */
    /*border: 0px solid black;*/

}

.table_banded_hover tr:nth-child(even)
{
    background-color: rgb(230, 230,230);
}

.table_banded_hover tr:hover
{
    background-color: rgb(255, 255, 230);
}

.table_banded_hover th
{
    background-color: rgb(232, 247, 255);
    /*border: 3px solid black;*/
}


.banding_even:nth-child(even)
{
    background-color: #f2f2f2;
}


.sale
{
    color: green;
}

.purchase
{
    color: red;
}

.assets
{
    border: 1px solid orange;
    margin-left:auto;
    margin-right:auto;
}

.assets td, th
{
    font-size: large;
}

.sell td, th
{
    border: 0px solid black;
    /*font-size: 19px;*/
    font-size: medium;
}

.assets
{
    /*roughly 14 pt*/
    font-size: 19px;
}

/*h1*/
/*{*/
/*    font-weight: bold;*/
/*    text-align: center;*/

/*}*/

h2
{
    font-weight: bold;
    text-align: center;
}

.dark
{
    background-color: white;
    color: black;

}

th
{
    text-align: center;
}

.money td
{
    text-align: right;
    background-color: solid orange;
    font-weight: bold;
}

sup
{
  /*vertical-align: text-top;*/
  vertical-align: super;
  font-size: smaller;
}

.microsoft th
{
    background-color: #e5fae3;
}

/*button*/
/*{*/
/*    height: 45px;*/
/*    background-color: #e5fae3;*/
/*    transition-duration: 0.4s;*/
/*    cursor: pointer;*/
    /*padding-top: 50px;*/
    /*padding-right: 30px;*/
    /*padding-bottom: 50px;*/
    /*padding-left: 80px;*/
/*}*/

/*button:hover*/
/*{*/
/*  background-color: #4CAF50;*/
/*  color: white;*/
/*}*/

.nintendo button
{
  background-color: white;
  color: black;
  border: 2px solid #f44336;
  height: 60px
}

.nintendo button:hover
{
    /*background-color: #f44336;*/
    /*background-color: green;*/
    background-color: #ffe3e4;
    /*background-color: #E70009;*/
    /*background-color: solid black;*/
    /*color: white;*/
    color: black;
}

/*img {*/
/*  border: 5px solid #555;*/
/*}*/

h1.nintendo
{
    /*font-family: 'Press Start 2P', cursive;*/
    font-family: 'Press Start 2P';
    color: #E70009;
    font-weight: bold;
    text-align: center;
    /*font-size: 9vw;*/
}

.nintendo th
{
    background-color: #ffe3e4;
    text-align: center;
    font-weight: bold;
    vertical-align: middle;
    /*font-family: 'Press Start 2P';*/
    /*font-size: smaller;*/
}

.nintendo td
{
    vertical-align: top;
}

/*******************/
/*                 */
/*  Mobile Styles  */
/*                 */
/*******************/

/*.nintendo_level_01 ol*/
/*{*/
/*    font-family: Helvetica;*/
/*    list-style-type:decimal;*/
/*    padding-left: 0;*/
/*    margin-left: 0;*/
/*}*/

.super_mario_retro_star
{
    list-style-image: url(/images/super_mario_retro_star.ico);
}

.nintendo_mobile
{
    /*font-family: 'Press Start 2P', cursive;*/
    font-family: 'Press Start 2P';
    color: #E70009;
    font-weight: bold;
    text-align: center;
    font-size: 9vw;

}

/*.outermost_container div*/
/*{*/
/*    background-color: #ffcc73;*/
/*}*/

div.outermost_container
{
    background-color: #ffcc73;
}

ol.nintend_mobile
{
    /*border-left: 5px solid red;*/
    font-family: Helvetica;
    /*background: green;*/
    /*list-style-type: decimal-leading-zero;*/

}

li.nintendo_mobile_list_lvl_01
{
    font-weight: bold;
}

.list_lvl_01
{
    text-decoration: underline;
}

.nintendo_mobile_list_lvl_02
{
    font-weight: normal;
    list-style-type: disc;
    margin-left: -1.5em;
    /*background-color: purple;*/
    /*padding-left: 3em;*/

}

.nintendo_level_01 li
{
    font-family: Helvetica;
    list-style-type: decimal;
    /*padding-left: 0;*/
    margin-left: 0em;
    padding-left: 0em;
    /*background-color: green;*/
    background: orange;
    /*display: block;*/
}

.nintendo_level_02 li
{
    font-family: Helvetica;
    list-style-type: disc;
    margin-left: -1.5em;
    padding-left: 0em;
    background-color: purple;
    /*display: block;*/
}

.nintendo_div_table
{
    display: table;
	width: 95%;
    margin-left: auto;
    margin-right: auto;
	/*background-color: green;*/
}

.nintendo_div_table_header
{
    /*background: green;*/
    background-color: #ffe3e4;
}

.nintendo_div_table_body
{
    background: purple;
}

.nintendo_div_table_row
{
    background: red;
}

.nintendo_div_table_cell
{
    background: #f5f5f5;
}

.collapsible
{
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  font-weight: bold
}

.active, .collapsible:hover
{
  background-color: #555;
}

.collapsible:after
{
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after
{
  content: "\2212";
}

.content
{
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}

.nintendo_console_font
{
    font-family: Helvetica;
}





/***********************/
/*                     */
/*  End Mobile Styles  */
/*                     */
/***********************/

body
{
    font-family: Helvetica;
}

div
{
    font-family: Helvetica;
}

nes-mario
{
    /*height: 50px;*/
    font-size: 50px
}

.no_border td
{
    border: 0;
}



/*button:hover*/
/*{*/

/*}*/

.column_left
{
  float: left;
  width: 75%;
  padding: 10px;
  background-color: #d4d4d4;
  background-color: #ffcc73;
  /*background-color: orange;*/
  /*Should be removed. Only for demonstration */
  /*height: 300px; */
}

.column_right
{
  float: left;
  width: 25%;
  padding: 10px;
  /*Should be removed. Only for demonstration */
  /*height: 300px; */
}