/*https://stackoverflow.com/questions/10742665/jquery-whole-html-page-load-with-spinner*/

#cover {
    background: url("https://i.pinimg.com/originals/22/1b/76/221b761e5c903b46e9069dc4d09f51f3.png") no-repeat scroll center center #FFF;
    position: absolute;
    height: 100%;
    width: 100%;
}