<!--nintendo.html for homepage 2020-->

{% extends "layout.html" %}

{% block title %}

    {% if company == "All" %}

        All Consoles

    {% else %}

        {{ company }}

    {% endif %}

{% endblock %}

{% block main %}

<div class="level_0_container">

    <!--Left Column-->
    <div class="level_01_container">

        <br>

        <h1 class="heading_01">Console Release Prices</h1>

        <table class="js-sort-table console_table" id="release_price_table">

            <thead>

                <tr class="header">

                <th class="js-sort-number">#</th>

                <th style="text-align:center">Console Name</th>

                <th class="js-sort-date">Release Date<a href="#footnote_1">[1]</a></th>

                <th>Release<br>Price<a href="#footnote_2">[2]</a></th>

                <th class="inflation_adjusted_price_cell">Release Price in<br> {{ inflation_month_short  }} {{ inflation_year }} Dollars<a href="#footnote_3">[3]</a></th>

                <th>Gaming<br>Generation<a href="#footnote_4">[4]</a></th>

                <th>Company</th>

                </tr>

            </thead>



            {% for item in console_info %}

                <tr>
                    <td data-input="number" style="text-align: center">{{ item.cardinal_number }}</td>
                    <td data-input="name">{{ item.console_name }}</td>
                    <td style="text-align: right">{{ item.usa_release_date }}</td>
                    <td class="money" style="text-align: center">{{ item.formatted_release_price }}</td>
                    <td class="money inflation_adjusted_price_cell" id="{{ item.console_name_underscored }}" style="text-align: center">{{ item.inflation_answer }}</td>
                    <td style="text-align: center">{{ item.gaming_generation }}</td>
                    <td style="text-align: center">{{ item.company }}</td>
                </tr>

            {% endfor %}

        </table>

        <br>

    </div>

    <!--Right Column-->

    <!--<div class="inflation_container">-->
    <div class="top_right_corner">

        <div class="spinner_wrapper" id="spinner_wrapper">

            <div class="loaidng_text">

                <h2>Getting release prices adjusted for inflation . . .</h2>

            </div>

            <div class="spinning_loader"></div>

        </div>

        <h2 class="right_column_header_h2" style="margin-top: 5px">Adjust Prices for Inflation</h2>
        <!--<h3 class="right_column_header_h3">(Javascript Version Mk_008)</h3>-->

        <div class="inflation_row">

            <div class="inflation_column right">Select a Year:&nbsp;</div>

                <div class="inflation_column left">

                    <select name="year" id="year_mk_008">

                        <option value="" selected hidden></option>

                            <!--For loop for populating the inflation years-->
                            {% for item in years %}

                                <option value="{{ item }}">{{ item }}</option>

                            {% endfor %}

                    </select>

                </div>

            </div>

        <div class="inflation_row">

            <div class="inflation_column right">Select a Month:&nbsp;</div>

            <div class="inflation_column left">

                <select name="month" id="month_mk_008">

                    <option value="" diabled selected hidden></option>

                        {% for item in months %}

                            <option value="{{ months[item] }}">{{ item }}</option>

                        {% endfor %}

                </select>

            </div>

        </div>

        <button class="nintendo_submit" id="submit_mk_008" onclick="submit_inflation_seeds()"><img src="https://icons.iconarchive.com/icons/ph03nyx/super-mario/48/Retro-Mario-icon.png"> Submit Mk 008</button>

        <br>

        <!--<button class="nintendo_submit" id="submit_mk_009" onclick=""><img src="https://icons.iconarchive.com/icons/ph03nyx/super-mario/48/Retro-Mario-icon.png"> Submit Mk 009</button>-->

        <hr class="right_column_divider">

        <h2 class="right_column_header_h2">Global Filter</h2>
        <h3 class="right_column_header_h3">(Searches the Entire Table)</h3>

        <!--This search is using filter_tables_Mk_006-->
        <input class="table_search" id="search" title="filter_tables_Mk_006" type="text" placeholder="Search the entire table . . .">
        <br>

    </div>

</div>

{% endblock %}
