<b>Footnotes</b>

<!--<ol class="footnotes_mobile">-->
<ol class="footnotes">

    <li id="footnote_1">The release dates are the dates the consoles were released in the <a href="https://en.wikipedia.org/wiki/United_States">United States</a>.</li>

    <li id="footnote_2">The release prices are the United States release date prices in <a href="https://en.wikipedia.org/wiki/United_States_dollar">United States dollars</a>.</li>

    {% if arrival_method == "GET" %}

        <li id="footnote_3">The gaming generation information refers to the applicable <a href="https://en.wikipedia.org/wiki/Home_video_game_console#List_of_home_video_game_consoles">generation of home video game consoles</a>.</li>

    {% elif arrival_method == "POST" %}

        <li id="footnote_3">The release prices were adjusted for inflation using the <a href="https://www.bls.gov/data/inflation_calculator.htm">Bureau of Labor Statistics' CPI Inflation Calculator</a>.</li>

        <li id="footnote_4">The gaming generation information refers to the applicable <a href="https://en.wikipedia.org/wiki/Home_video_game_console#List_of_home_video_game_consoles">generation of home video game consoles</a>.</li>

    {% endif %}

</ol>