<!--index.html for homepage 2020-->

{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}

Hello!

{% endblock %}

<!--<html lang="en">-->
<!--    <head>-->
<!--        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">-->
<!--        <link href="styles.css" rel="stylesheet">-->
<!--        <title>My Webpage</title>-->
<!--    </head>-->
<!--    <body>-->
<!--        hello, homepage-->
<!--    </body>-->
<!--</html>-->
